

/****** info ***********/
.info {
    background:var(--main-bg-color) ;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 4px 4px 4px 4px #00000040;
    color: #353535;
    font-weight: bold;
}
    

.info-group {
    padding-bottom:40px ;
}

.info-group h1 {
    text-align: center;
    font-size: 24px;
    padding-top:25px ;
}

.info-group p {
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px ;
}

/****** function ***********/

.title-function {
    padding-left: 20px;
}

.function {
    padding-left: 30px;
    padding-bottom: 30px;
}

.function a {
    display: flex;
    align-items: center;
    justify-content: left;
    color: black;
    background: var(--main-bg-color);
    border: none;
    border-radius: 15px;
    height: 75px;
    width: 90%;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
}

.function .number {
    background: #9356dc;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -12px; /* le rond chevauche légèrement le bouton */
    font-size: 14px;
    position: relative;
    z-index: 1; /* les chiffre passe au-dessus */
}


.function p {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.function a:hover i{
    color: var(--main-color);
}

.function i {
    padding-right: 30px;
}


/* RESTAURANT */

.restaurant {
    background: var(--main-bg-color);
    padding-bottom: 50px;
}

.restaurant a {
  color: black;
}

.restaurant h1{
    padding-top: 50px;
    margin-left: 20px ;
}

.restaurant .card {
    margin: 20px;
    position: relative;
    padding: 0;
}

/* IMAGE */
.restaurant .card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* BADGE */
.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #99E2D0;
    color: #1b6150;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
}

/* CARD CONTENT */
.restaurant .card-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TEXT */
.card-txt {
    display: flex;
    flex-direction: column;
}

.card-title {
    margin: 0;
    font-size: 18px;
}

.card-subtitle {
    margin: 0;
    font-size: 15px;
    color: black;
    padding-top: 10px;
}


.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
}

@media (min-width: 767.98px) {

    /***INFO****/

    .info-group h1 {
        font-size: 40px;
    }

    /***FUNCTION****/

    .function {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px; /* espace entre les trois blocs */
        padding-top: 100px;
        position: relative; 
    }

    .function p {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .function a {
        padding-right: 50px;
    }

    .title-function {
        position: absolute;
        top: 20px;
        left: 20px; 
    }

    .function .number {
        width: 33px;    /* calibrage des cercles */
    }

     /***RESTAURANT****/

    
    .restaurant {
        padding: 50px 100px; /* centrer la grille */
    }

    .restaurant h1 {
        margin-left: 0;       /* centrer comme dans la maquette */
        text-align: left;
    }

    /* Grille 2 colonnes */
    .restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;            
    }

    /* Important : le titre doit prendre toute la largeur */
    .restaurant h1 {
        grid-column: 1 / -1; /*détermine sur quelles colonnes du Grid l’élément va s’étendre.*/
    }

    /* Cartes un peu plus grandes sur desktop */
    .restaurant .card {
        margin: 0;            /* plus besoin de margin, la grille s'en occupe */
        height: 100%;
    }

    .restaurant .card img {
        height: 200px; 
    }

 
}


