@charset "UTF-8";
* {
  font-family: "Raleway", sans-serif;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --main-bg-color: #F6F6F6;
  --main-color: #9356DC;
  --second-color: #FF79DA;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/****** button ***********/
button {
  background: linear-gradient(to top, var(--main-color), var(--second-color));
  border-radius: 25px;
  border: none;
  color: var(--main-bg-color);
  font-weight: 700;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}

a {
  text-decoration: none;
}

/****** Header ***********/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* permet de placer la flèche */
  padding: 20px;
}

header i {
  position: absolute;
  left: 20px; /* place la flèche à gauche */
  top: 20px;
  font-size: 30px;
  color: black;
}

header img {
  width: 200px;
  height: auto;
}

footer {
  background: black;
  color: white;
  padding: 20px;
}

footer .fa-handshake-angle {
  padding-right: 10px;
}

footer .fa-utensils {
  padding-right: 15px;
}

footer p:hover {
  color: lightblue;
}

footer .txt-bold {
  font-weight: bold;
}

@media (min-width: 765px) {
  /* Organisation en flex row pour footer-txt */
  footer .footer-txt {
    display: flex;
    align-items: center;
    justify-content: end; /* Distribution de l'espace */
    padding-top: 15px;
  }
  footer p {
    padding: 10px;
  }
  footer #separate {
    padding-left: 30px;
  }
  /* Image à droite */
  footer .footer-txt img {
    order: 2; /* place l'image à la fin */
    padding-left: 50px;
  }
}
.menu-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  margin-top: -70px; /* remonte sur l'image pour superposition */
  border-radius: 40px 40px 0 0; /* arrondis en haut du blanc */
  padding: 30px;
  position: relative;
}

.menu h1 {
  font-style: italic;
  margin-bottom: 25px;
  position: relative;
}

.heart-container {
  position: relative;
  left: 90%;
  bottom: 50px;
}

/* Titres des sections (Entrées, etc.) */
.menu h2 {
  position: relative;
  padding-bottom: 8px;
  padding-top: 25px;
  margin-bottom: 25px;
  font-weight: 500;
}

.menu h2::after { /* ::after est un pseudo-élément CSS, un élément virtuel juste après le contenu d’un élément*/
  content: ""; /* On crée un élément vide */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  background-color: #56c9bc;
}

.menu button {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0 50px;
}

/* Carte individuelle */
.card {
  background: white;
  border-radius: 15px;
  padding: 1px 20px;
  margin-bottom: 15px;
}

.desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc p {
  margin: 0;
  margin-bottom: 10px;
}

.desc .euro {
  font-weight: bold;
}

/* HEART */
.heart-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.heart-container input {
  display: none; /* cache la checkbox */
}

.heart-container .fa-solid {
  display: none; /* cache le cœur plein par défaut */
  color: var(--main-color);
}

.heart-container .fa-regular {
  color: var(--main-color);
}

/* Quand la checkbox est cochée → on montre le cœur plein */
.heart-container input:checked ~ .fa-solid { /* le "~" (general sibling selector) veut dire Quand la checkbox est cochée */
  display: inline; /* CSS va agir sur tous les éléments .fa-solid qui viennent après le input.*/
}

/*cache le cœur vide */
.heart-container input:checked ~ .fa-regular {
  display: none;
}/*# sourceMappingURL=style.css.map */