@import "Base/general/general" ;

@import "Components/buttons/buttons";

@import "Components/header/header";

@import "Components/footer/footer";

@import "Components/menu/menu";

@import "Components/heart/heart"