/* HEART */
.heart-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.heart-container input { 
    display: none; /* cache la checkbox */ 
} 

.heart-container .fa-solid { 
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 0.35s ease, transform 0.35s ease;
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
}

.heart-container .fa-regular { 
    opacity: 1;
    transition: opacity 0.35s ease;
    color: var(--main-color);
}


/* Quand la checkbox est cochée → on montre le cœur plein */ 
.heart-container input:checked ~ .fa-solid {
    opacity: 1;                          /* le "~" (general sibling selector) veut dire Quand la checkbox est cochée */ 
    transform: scale(1);                    /* CSS va agir sur tous les éléments .fa-solid qui viennent après le input.*/ 
} 

.heart-container input:checked ~ .fa-regular {
    opacity: 0;
}



.card-wrapper .heart-container {
    bottom: 80px;
    left: 85%;
    font-size: 130%;
}

@media (min-width: 767.98px) {
    .menu .heart-container {
        left: 77%;
    }
}