footer {
    background: black;
    color: white;
    padding: 20px;
}

footer img {
    color: white;
}

footer .fa-handshake-angle {
    padding-right: 10px;
}

footer .fa-utensils {
    padding-right: 15px;
}

footer p:hover {
    color: lightblue;
}

footer .txt-bold {
    font-weight: bold;
}

@media (min-width: 765px) {
    
    
    /* Organisation en flex row pour footer-txt */
    footer .footer-txt {
        display: flex;
        align-items: center;
        justify-content: end; /* Distribution de l'espace */
        padding-top: 15px;
    }

    footer p {
        padding: 10px;
    }

    footer #separate {
        padding-left: 30px;
    }
    
    /* Image à droite */
    footer .footer-txt img {
        order: 2; /* place l'image à la fin */
        padding-left: 50px;
    }
   
    
}
