/****** button ***********/

button {
    background: linear-gradient(to top, var(--main-color), var(--second-color));
    border-radius: 25px;
    border: none;
    color: var(--main-bg-color);
    font-weight: 700;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    cursor: pointer;
    align-self: center;      
}


button:hover {
    background: linear-gradient(
        to top,
        /* couleurs légèrement éclaircies */
        color-mix(in srgb, var(--main-color) 80%, white),
        color-mix(in srgb, var(--second-color) 80%, white)
    );
}

a {
    text-decoration: none;
}