/****** Header ***********/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    /* permet de placer la flèche */
    padding: 20px;
}

header i {
    position: absolute;
    left: 20px;            /* place la flèche à gauche */
    top: 20px;
    font-size: 30px;
    color: black;
}

header img {
    width: 200px;
    height: auto;
}




