* {
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F6F6F6;
    --main-color : #9356DC;
    --second-color: #FF79DA;
}


html {
  scroll-behavior: smooth;
}

.main-contenair{
    max-width: 1440px;
     margin: 0 auto;
}

